name: Buf Breaking Changes
on:
  pull_request:
    branches:
      - main
      - release/*
    paths-ignore:
      - '**.md'
      - '**/mkdocs.yml'
jobs:
  buf:
    name: buf-breaking-action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1.32.0
      - uses: bufbuild/buf-breaking-action@v1
        with:
          input: proto
          against: 'https://github.com/complex64/protoc-gen-gorm.git#branch=main,subdir=proto'
