name: Documentation
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/docs.yml"
      - "mkdocs/**.*"
jobs:
  docs:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mkdocs-git-revision-date-plugin
      - run: mkdocs build --config-file mkdocs/mkdocs.yaml
      - uses: JamesIves/github-pages-deploy-action@v4.3.4
        with:
          branch: gh-pages
          folder: mkdocs/site
          single-commit: true
